<div class="conversor">
  <form #moneyForm="ngForm" class="money_form">
<br>
  {{modelMoneyBase.money_name}} <input type="number" name="valOne" id="valOne" value="{{numResultTwo}}" (keyup)="calcOne($event)">
  <i class="fas fa-exchange-alt"></i>
  {{modelMoneyTwo.money_name}} <input type="number" name="valTwo" id="valTwo" value="{{numResult}}" (keyup)="calcTwo($event)">
  
  <div class="selectormoney">
    <div class="money"> Moeda:
      <!-- <select (change)="changemoneyOne($event)"> -->
        <select name="money" [(ngModel)]="modelMoneyBase.money_name" (change)="changemoneyOne($event)">
        <option *ngFor="let i of moneys" [value]="i">{{ i }}</option>
      </select>
    </div>
    
    <div class="money1"> Moeda:
      <!-- <select (change)="changemoneyTwo($event)"> -->
        <select name="money1" [(ngModel)]="modelMoneyTwo.money_name" >
        <option *ngFor="let j of moneys" [value]="j">{{ j }}</option>
      </select>
    </div>
</div>
  
  <br>
  </form>
  

</div>


<!-- 
<div class="conversor">
  <br>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    {{moneyOne}} <input type="number" name="valOne" id="valOne" value="{{numResultTwo}}" (keyup)="calcOne($event)"
      formControlName="fullname">
    {{moneyTwo}} <input type="number" name="valTwo" id="valTwo" value="{{numResult}}" (keyup)="calcTwo($event)"
      formControlName="email">
    <input type="submit" [disabled]="!formdata.valid" class="forsubmit" value="Send" hidden>
  </form>

  <div> Moeda:

    <ng-container *ngFor="let item of moneys">
      <ng-container *ngIf="item === 'BRL'">
        <select (change)="changemoneyOne($event)">
          <option selected> {{ item }}</option>
        </select>
        <ng-template #outrasopcoes>
          <select (change)="changemoneyTwo($event)">
            <option> {{ item }}</option>
          </select>
        </ng-template> 
      </ng-container>
    </ng-container>

  </div>

  <div> Moeda:
    <select (change)="changemoneyTwo($event)">
      <option *ngFor="let j of moneys">{{ j }}</option>
    </select>
  </div>
  <br />
</div> -->