/* i.fas {
  border: 1px solid red;
}  */

.conversor {
  text-align: center;
  /* background-color: #42A948; */
  font-size: 35px;
  width: 100%;
  color: white;
}

.conversor input {
  font-size: 25px;
  width: 200px;
}

.selectormoney {
  display: flex;
  margin-left: 500px;
}

.fa-exchange-alt {
  color: greenyellow;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

