/* i.fas {
  border: 1px solid red;
}  */

.conversor {
  text-align: center;
  /* background-color: #42A948; */
  font-size: 35px;
  width: 100%;
  color: white;
}

.conversor input {
  font-size: 25px;
  width: 200px;
}

.calc-elemOne{
  display: flex;
}

.selectormoney {
  /* width: 200px; */
  position: relative;
  font-family: Arial;
}

select option {
  color: red;
  padding: 3px;
  font-weight: bold;
}

.selectormoney select{
   /*-webkit-appearance: none;*/  /* Remove estilo padrão do Chrome */
   /*-moz-appearance: none;*/ /* Remove estilo padrão do FireFox */
   /* appearance: none; */ /*Remove estilo padrão do FireFox */
   /* background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  Imagem de fundo (Seta) */
   /*background-position: 218px center;*/  /*Posição da imagem do background*/
   /*width: 250px;*/ /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:100px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   /* border:1px solid #ddd; */
}

.selectormoney select {
  font-size: 100px;
}

.fa-exchange-alt {
  color: greenyellow;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

