<nav>
  <div class="logo">
    <!-- <a href="/"> -->
    <a routerLink="/home">
      <h4>Money Conversor</h4>
    </a>
  </div>
    <ul class="nav-links" [class.nav-active]="touched === true">
      <!-- TODO: colocar rotas reais -->
      <li>
        <a routerLink="/about">Sobre</a>
      </li>
      <li>
        <a routerLink="/historical">Histórico</a>
      </li>
      <li>
        <!-- colocar valor dinâmico (em relacao ao real) -->
        <a routerLink="/dolar-to-real">Dólar</a>
      </li>
      <li>
        <!-- colocar valor dinâmico (em relacao ao real) -->
        <a routerLink="/euro-to-real">Euro</a>
      </li>
    </ul>

    <!-- The Angular class binding makes it easy to add and remove a CSS class conditionally.  -->
    <!-- Just add [class.some-css-class]="some-condition" to the element you want to style. -->
    <div class="burger" (click)="toggleBurgerDisplay()" [class.toggle]="touched === true">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
</nav>
<router-outlet></router-outlet>

  