<nav>
  <div class="logo">
    <a href="#">
      <h4>Money Conversor</h4>
    </a>
  </div>
    <ul class="nav-links" [class.nav-active]="touched === true">
      <!-- TODO: colocar rotas reais -->
      <li>
        <a href="#">Sobre</a>
      </li>
      <li>
        <a href="#">Histórico</a>
      </li>
      <li>
        <!-- colocar valor dinâmico (em relacao ao real) -->
        <a href="#">Dólar</a>
      </li>
      <li>
        <!-- colocar valor dinâmico (em relacao ao real) -->
        <a href="#">Euro</a>
      </li>
    </ul>

    <!-- The Angular class binding makes it easy to add and remove a CSS class conditionally.  -->
    <!-- Just add [class.some-css-class]="some-condition" to the element you want to style. -->
    <div class="burger" (click)="toggleBurgerDisplay()" [class.toggle]="touched === true">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
</nav>